<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.cdnfonts.com/css/sporting" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="mainBody">
    <header>
        <nav>
            <div class="logo">
                <h1>CinemaStar</h1>
            </div>
            <div class="reg_or_log_buttons">
                <button class="registerButton">Register</button>
                <button class="loginButton">Log In</button>
            </div>
        </nav>
    </header>
    <div class="mainPage">
        <div class="greeting">
            <h1>Welcome</h1>
        </div>
        <div class="wrapper">
            <div class="item item1">
                <img src="/images/dreamworks.png" alt="image1">
            </div>
            <div class="item item2">
                <img src="/images/paramount.png" alt="image2">
            </div>
            <div class="item item3">
                <img src="/images/sony.png" alt="image3">
            </div>
            <div class="item item4">
                <img src="/images/universal.png" alt="image4">
            </div>
            <div class="item item6">
                <img src="/images/warner.png" alt="image6">
            </div>
            <div class="item item7">
                <img src="/images/SeekPng.com_20th-century-fox-png_2403391.png" alt="image7">
            </div>
        </div>
        <div class="aboutUs">
            <div class="enjoyText">
                <h1>Enjoy your stay</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat earum assumenda cupiditate cumque corrupti nostrum modi quae quidem, eius omnis iste quasi, numquam explicabo necessitatibus dicta veritatis, itaque amet maxime?</p>
            </div>
            <div class="enjoyImage">
                <img src="/images/pngwing.com.png" alt="image9">
            </div>
        </div>
        <div class="watchEverywhere">
            <div class="watchImage">
                <img src="/images/pngwing.com%20(1).png" alt="image9">
            </div>
            <div class="watchText">
                <h1>Watch everywhere</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat earum assumenda cupiditate cumque corrupti nostrum modi quae quidem, eius omnis iste quasi, numquam explicabo necessitatibus dicta veritatis, itaque amet maxime?</p>
            </div>
        </div>
        <footer>
            <div class="ourInfo">
                <ul>
                    <li>Contact Us</li>
                    <li>About Us</li>
                    <li>Policy</li>
                </ul>
            </div>
            <div class="production">
                <ul>
                    <li>Partners</li>
                    <li>Privacy Policy</li>
                    <li>Buy Gift Cards</li>
                </ul>
            </div>
            <div class="icons">
                <i class='bx bxl-facebook-circle'></i>
                <i class='bx bxl-twitter' ></i>
                <i class='bx bxl-instagram-alt' ></i>
            </div>
        </footer>
    </div>

    <script src="/js/index.js" defer></script>
</body>
</html>